<component name="libraryTable">
  <library name="mybatis-3.0.2">
    <CLASSES>
      <root url="jar://E:/jar包/mybatis/mybatis-3.0.2.jar!/" />
      <root url="jar://E:/jar包/mybatis/mybatis-spring-1.3.1.jar!/" />
      <root url="jar://E:/jar包/mybatis/mybatis-generator-core-1.3.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>